
@{
    ViewData["Title"] = "About";
}

<h1>About Project</h1>
<p>
    We are using Food Recall Enforcement data which is referenced by
    the Open FDA website.
    The data in this website updates constantly based on total no of
    reported cases and deaths
</p>

<hr />
Link to the Project : <a href="">GitHub</a>
<hr />
<h2>Developers</h2>
<div class="row">
    <div class="col-sm">
        <div class="card">
            <img src="https://media-exp1.licdn.com/dms/image/C4E03AQFdpgLXpKrYaw/profile-displayphoto-shrink_800_800/0/1630566367482?e=1656547200&v=beta&t=WGsOUC501JEzDB9yWiVtvVlXIyyQMBJaML51J-U8n9Y" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Name: Surendra Varma Sagi</h5>
                <p class="card-text">UID: U21254711</p>
                <p class="card-text">Surendra Varma Sagi is a graduate student at the University of South Florida pursuing Business Analytics and Information Systems. I previously worked as a Full-stack Developer at LTI for 2 years. I have an extensive working experience on .Net, creating websites, Bootstrap, HTML5, and CSS..</p>
                <p class="card-text">Contribution: C#, Database Design.</p>

            </div>
            <div class="card-footer bg-white btn-group-vertical">
                <a href="https://www.linkedin.com/in/sagi-surendra-varma-bb8907118/" target="_blank" class="btn btn-primary w-100">Linkedin:Sagi Surendra Varma | LinkedIn</a>
                <a href="https://github.com/Varma98Git" target="_blank" class="btn btn-primary w-100">Github:Varma98Git (U91972271) (github.com)</a>
            </div>
        </div>
    </div>
    <div class="col-sm">
        <div class="card">
            <img src="https://media-exp1.licdn.com/dms/image/C5603AQHujWtlLdWxzQ/profile-displayphoto-shrink_800_800/0/1616905122860?e=1656547200&v=beta&t=eNnWXRZ_xgXdYBdD6U7ODTxvMA-G8LTVDOeUCXl-ffw" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Name: Venkata Sai Pavan</h5>
                <p class="card-text">UID: U21254711</p>
                <p class="card-text">Venkata Sai Pavan Guduri is a graduate student at the University of South Florida pursuing Business Analytics and Information Systems. I previously worked as a Data Analyst at Tata Consultancy Services for 2 years. I have a working knowledge of getting data from API and loading into tables and analyzing the datasets. </p>
                <p class="card-text">Contribution: HTML, CSS, Web-Design aesthetics, Finding Datasets, API endpoint, C#.</p>

            </div>
            <div class="card-footer bg-white btn-group-vertical">
                <a href="https://www.linkedin.com/in/saipavanguduri/" class="btn btn-primary">LinkedIn: Venkata Sai Pavan Guduri | LinkedIn</a>
                <a href="https://github.com/ISM-U21254711" class="btn btn-primary">Github: ISM-U21254711 (github.com)</a>
            </div>
        </div>
    </div>
    <div class="col-sm">
        <div class="card">
            <img src="http://guduri1.myweb.usf.edu/img/Nithin.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Name: Nithin Sai Sudulakunta</h5>
                <p class="card-text">UID: U56557516</p>
                <p class="card-text">Nithin Sai Sudulakunta is a graduate student at University of South Florida pursuing Business Analytics and Information Systems. I previously worked as System Analyst at Cognizant Technology Services for 2 years. I have a working experience on databases loading data from api into databases.</p>
                <p class="card-text">Contribution: Finding Datasets, ERD, Database Design C#.</p>
            </div>
            <div class="card-footer bg-white btn-group-vertical">
                <a href="https://www.linkedin.com/in/Nithinsaisudulakunta/" class="btn btn-primary">LinkedIn: Nithin Sai Sudulakunta | LinkedIn</a>
                <a href="https://github.com/U56557516" class="btn btn-primary">Github: U56557516 (github.com)</a>
            </div>
        </div>
    </div>
</div>


<hr />
<h3>Tools </h3>
<ul>
    <li>MVC with C# for website</li>
    <li>Chart.JS for charts</li>
    <li>Api endpoint: https://api.fda.gov/food/enforcement.json</li>
    <li>Sql server for database</li>
    <li>Bootstrap for UI</li>
</ul>
<hr />
<h3>Data Model of Database  </h3>

<img src="/img/erd.png" class="img-fluid"/>

