
@{
    ViewData["Title"] = "Contact";
}
<div class="text-center">
    <h1>Contact</h1>

    <h5>
        Surendra Varma Sagi <br/>
        Venkata Sai Pavan<br />
        Nithin Sai Sudulakunta
    </h5>
    
    <br/>
    
    
    
    <h6>
        University of South Florida <br/>
        phone: +1 (123) 456 789 <br />
        Email: abc@usf.edu
    </h6>


</div>
