@model Web_Assignment_4.Models.FoodEnforcement

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>FoodEnforcement</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Country" class="control-label"></label>
                <input asp-for="Country" class="form-control" />
                <span asp-validation-for="Country" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label">State</label>
                <select id="cmbstates" class="form-control" asp-items="ViewBag.States"></select>
            </div>

            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <select asp-for="City" class="form-control" asp-items="ViewBag.City"></select>
            </div>
            <div class="form-group">
                <label asp-for="Address1" class="control-label"></label>
                <input asp-for="Address1" class="form-control" />
                <span asp-validation-for="Address1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address2" class="control-label"></label>
                <input asp-for="Address2" class="form-control" />
                <span asp-validation-for="Address2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductDescription" class="control-label"></label>
                <input asp-for="ProductDescription" class="form-control" />
                <span asp-validation-for="ProductDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReportDate" class="control-label"></label>
                <input asp-for="ReportDate" class="form-control" />
                <span asp-validation-for="ReportDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Classification" class="control-label"></label>
                <input asp-for="Classification" class="form-control" />
                <span asp-validation-for="Classification" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RecallNumber" class="control-label"></label>
                <input asp-for="RecallNumber" class="form-control" />
                <span asp-validation-for="RecallNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EventId" class="control-label"></label>
                <input asp-for="EventId" class="form-control" />
                <span asp-validation-for="EventId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PostalCode" class="control-label"></label>
                <input asp-for="PostalCode" class="form-control" />
                <span asp-validation-for="PostalCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CodeInfo" class="control-label"></label>
                <input asp-for="CodeInfo" class="form-control" />
                <span asp-validation-for="CodeInfo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>


@section Scripts{

    <script>
        $(document).ready(function() {
            $("#cmbstates").change(function() {
                var state = $(this).val();

                fetch("@Url.Action("GetCountries", "FoodDb")?state=" + state ,
                        {
                            headers: { "Content-Type": "application/json" },
                        })
                    .then(response => {
                        if (!response.ok) {
                            throw response;
                        }
                        return response.json();
                    })
                    .then(json => {
                        var output = [];

                        $.each(json, function (index, value)
                        {
                            output.push('<option value="' + value.city1 + '">' + value.city1 +'</option>');
                        });

                        $('#City').html(output.join(''));

                    })
                    .catch(response => console.log(response));
            });


        });

      

    </script>
}
